@model ProductBrochureInfoListModel

@foreach(var productBrochure in Model.ProductBrochures)
{
    @if (productBrochure != null && productBrochure.DownloadGuid != Guid.Empty)
    {
        <div class="download-attachment">
            <a class="button-2 download-sample-button" href="@Url.Action("GetFileUpload", "Download", new { downloadId = productBrochure.DownloadGuid })">
                 @productBrochure.ButtonText
            </a>
        </div>
    }
    
}
