@using Nop.Plugin.Misc.EmployeeManager.Common
@model Nop.Plugin.Misc.EmployeeManager.Models.EmployeeAddressModel

@{
    IEnumerable<SelectListItem> employeeTypes = Enum.GetValues<EmployeeType>()
                .Select(emp => new SelectListItem(emp.ToString(), ((int)emp).ToString()));
}

<script src="~/lib_npm/jquery-tageditor/jquery.caret.min.js"></script>
<script src="~/lib_npm/jquery-tageditor/jquery.tag-editor.min.js"></script>
<link rel="stylesheet" href="~/lib_npm/jquery-tageditor/jquery.tag-editor.css">

<div class="card-body">
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Employee.Firstname" />
        </div>
        <div class="col">
            <nop-editor asp-for="Employee.Firstname" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Employee.Lastname" />
        </div>
        <div class="col">
            <nop-editor asp-for="Employee.Lastname" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Employee.Phonenumber" />
        </div>
        <div class="col">
            <nop-editor asp-for="Employee.Phonenumber" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Employee.EmployeeType" />
        </div>
        <div class="col">
            <nop-select asp-for="Employee.EmployeeType" asp-items="@employeeTypes" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Address.CountryId" />
        </div>
        <div class="col">
            <nop-select asp-for="Address.CountryId" asp-items="Model.Address.AvailableCountries" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Address.StateProvinceId" />
        </div>
        <div class="col">
            @if ((bool)ViewData["IsEditView"])
            {
                <nop-select asp-for="Address.StateProvinceId" class="form-control" asp-items="Model.Address.AvailableStates" />
            }
            else
            {
                <select asp-for="Address.StateProvinceId" class="form-control" disabled></select>
            }
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Address.County" />
        </div>
        <div class="col">
            <nop-editor asp-for="Address.County" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Address.City" />
        </div>
        <div class="col">
            <nop-editor asp-for="Address.City" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Address.ZipPostalCode" />
        </div>
        <div class="col">
            <nop-editor asp-for="Address.ZipPostalCode" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <nop-label asp-for="Address.Address1" />
        </div>
        <div class="col">
            <nop-editor asp-for="Address.Address1" class="form-control" />
        </div>
    </div>
    @if ((bool)ViewData["IsEditView"])
    {
        <div class="form-group row">
            <div class="col-3">
                <nop-label asp-for="Employee.IsActive" />
            </div>
            <div class="col">
                <nop-editor asp-for="Employee.IsActive" class="form-control" />
            </div>
        </div>
    }
    else
    {
        <input asp-for="Employee.IsActive" hidden />
    }
    <input asp-for="Employee.Id" hidden />
    <input asp-for="Address.Id" hidden />
</div>